body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

button {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

button,
input {
    border: #272044;
    background: plum;
    color: inherit;
}

.container {
    font-family: PT Mono, monospace;
}

h1 {
    color: #202124;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 100;
    line-height: 16px;
    list-style: none;
}

.weatherApp {
    border: 2px solid grey;
    padding: 30px;
    margin: 15px auto;
    max-width: 620px;

    background-image: url(../img/background.jpg);
    background-size: cover;
}

.temperature {
    font-size: 35px;
    font-weight: 900;
    line-height: 5px;
}

.weatherIcon {
    height: 50px;
    width: 50px;
}

.units {
    position: relative;
    top: -5px;
}

.searchForm {
    margin-bottom: 15px;
}

.moreInfo {
    text-align: center;
}

span.nextDays {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

footer {
    display: block;
    text-align: center;
    font-size: 20px;
}

.fa-gratipay {
    color: red;
}